{% extends "pet/base.html" %} {% block content %}
<br/><br/><br/><br/><br/>
<center>
    <br>
    <h1>Decided which one to take home? Contact us using either of the methods below: </h1>
    <br>
    <br>

    
    <h2>Tollfree Number: 1800-PET-3535</h2>
    <br>
    <br>
    <h2>Email: petadoption@xyz.com</h2>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <blockquote class="blockquote text-center">
      <p class="mb-0">You can't buy love, but you can rescue it.</p>
      <footer class="blockquote-footer"> <cite title="Source Title">An anonymous pet owner</cite></footer>
    </blockquote>

</center>


{% endblock content %}